# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [116]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [117]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [118]:
amounts = orders.groupby('CustomerID').sum()
amounts.head()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40

In [119]:
quantile95 = amounts['amount_spent'].quantile(0.95)
quantile75 = amounts['amount_spent'].quantile(0.75)

In [120]:
amounts_95 = amounts[amounts['amount_spent']>quantile95]
amounts_75 = amounts[(amounts['amount_spent']>quantile75) & (amounts['amount_spent']<quantile95)]  
amounts_75

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12352,22083029,47523155,170935,552,243,1193,536,1354.11,2506.04
12356,6327889,32183405,118649,142,185,592,1591,188.87,2811.43
12360,40078779,72720480,259419,1005,303,1515,1165,457.91,2662.06
12362,89983124,150505851,534926,2189,944,3192,2229,1048.29,5226.23
12370,19741841,91269866,335746,1516,482,2036,2353,467.65,3545.69
12371,24627832,35945072,126693,630,127,630,591,244.08,1887.96
12378,62845116,123088074,440409,1752,438,2190,2529,656.44,4008.62
12380,35019973,58857949,209144,885,384,1240,1127,351.38,2724.81
12381,30124355,49313176,174957,776,434,876,808,407.44,1845.31
12383,7834767,53773455,199052,594,289,1266,1532,305.61,1850.56
12388,23878866,55733658,201100,592,381,1230,1462,277.77,2780.66
12395,38555138,87022722,313685,1309,621,2247,2118,619.14,3018.63
12397,44235107,71468306,253386,1106,490,1484,1263,437.00,2409.90
12405,14200191,30236112,108594,378,216,432,857,191.39,1710.39
12406,37614073,59569279,211155,910,420,1554,1818,261.14,3415.30
12407,18594859,42944486,154847,482,297,830,1416,251.59,1708.12
12408,27205288,58704899,211155,688,397,1240,1409,317.40,2888.55
12417,50491151,107382316,386101,1363,704,2567,1552,1024.88,3649.10
12423,25783506,69261244,251359,794,297,1262,1339,364.20,1859.31
12424,7337535,16756087,60330,180,120,360,740,83.42,1760.96
12429,24634210,54154364,195047,795,232,1278,1557,352.18,3750.40
12432,31321111,60710430,217188,776,238,1340,1801,1139.49,5059.32
12437,60967254,112556831,402200,1484,730,2497,2923,798.50,4951.41
12438,38038651,55850298,197078,882,490,1274,1180,381.70,2906.85
12444,55928774,99873481,355947,1395,531,2219,1155,1119.13,5005.46
12449,64574712,108105916,384101,1654,875,2243,1553,705.69,4067.29
12454,5979495,8568825,30165,150,75,255,1006,109.23,3528.34
...,...,...,...,...,...,...,...,...,...
18093,5954013,19829425,72396,152,134,452,1392,58.87,2106.52
18094,14956064,38867811,140770,375,173,805,2518,150.87,3017.30
18097,29091429,60457459,217181,805,405,1252,1686,320.70,2697.80
18118,282619607,710550897,2571918,8671,4815,14692,2882,3234.33,5653.82
18122,160062605,209010897,732004,3848,1686,4677,1234,851.58,1826.21
18144,8992522,23849413,86466,303,108,559,1343,190.51,2888.75
18145,73751448,124894602,444431,1717,860,2520,2625,398.12,2861.55
18173,5667139,17123208,62341,145,96,380,1220,83.88,2106.84
18179,20152428,50006165,180990,463,222,1217,1360,248.49,1793.17
18180,43068716,67597321,239309,1077,217,1158,1721,247.62,1843.75
18188,23038266,40095637,142781,553,294,936,1168,175.56,2001.04
18198,36707816,88481806,319749,896,545,1994,4074,381.01,5425.56
18204,56122492,112281139,402200,1383,479,2792,1200,509.86,1993.70
18210,58308669,76883352,269474,1375,463,1665,1398,482.01,2621.38
18219,27343898,63524044,229230,940,309,1507,885,470.73,2069.77
18225,81151225,152401796,544979,2000,1027,3702,3244,692.45,5509.12
18226,59145937,135026999,486662,1500,845,2806,3466,528.82,5228.05
18230,20693385,47929137,172946,520,321,1145,1316,188.48,2810.20
18231,20939926,68363186,249364,512,282,1458,821,466.92,2083.27
18235,31023584,58534752,209144,796,445,1145,1578,223.23,1796.48
18241,30911813,58515464,209144,800,308,1190,1051,338.39,2073.09
18242,24125102,43978085,156858,598,259,1005,1017,255.83,2232.49
18245,46080822,97811122,351898,1393,724,2189,1788,452.27,2567.06
18251,5431304,9065520,32176,144,32,240,7824,12.35,4314.72
18257,33295472,66233488,237298,853,280,1536,1041,401.63,2337.63
18259,13890450,23741242,84455,427,133,553,714,136.90,2338.60
18260,18050916,73457520,269463,577,436,1616,1478,469.94,2643.20
18272,49405922,93342091,333826,1221,509,2107,2050,380.91,3078.58
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [121]:
#### your code here
#amounts.insert(9,'Status','')
amounts.loc[amounts_95.index, 'Status'] = 'VIP'
amounts.loc[amounts_75.index,'Status'] = 'Prefered Client'
amounts.head()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Status
CustomerID,,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60,VIP
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00,Prefered Client
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24,Prefered Client
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55,Prefered Client
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40,NaN

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [122]:
# your code here
orders_new = orders.merge(amounts['Status'], left_on = 'CustomerID', right_index = True)
orders_new['Country'].mode()

0    United Kingdom
dtype: object

In [138]:
VIP_country = orders_new[orders_new['Status'] == 'VIP'].groupby('Country').count()
PC_country = orders_new[(orders_new['Status'] == 'Prefered Client')|(orders_new['Status'] == 'VIP')].groupby('Country').count()
print('VIP =', VIP_country.index.max())
print('Prefered Clients & VIP =', PC_country.index.max())

VIP = United Kingdom
Prefered Clients & VIP = United Kingdom